name: CI

on:
  push:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Setup ROS 2
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: humble

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            ros-humble-gazebo-ros-pkgs \
            ros-humble-ros2-control ros-humble-ros2-controllers \
            ros-humble-xacro ros-humble-joint-state-publisher-gui ros-humble-robot-state-publisher \
            ros-humble-rviz2 \
            ros-humble-moveit \
            ros-humble-moveit-ros-planning-interface ros-humble-moveit-visual-tools \
            python3-colcon-common-extensions python3-pip

      - name: Build
        run: |
          source /opt/ros/humble/setup.bash
          cd robot_arm_pick_place/colcon_ws
          colcon build --symlink-install

      - name: Test
        run: |
          source /opt/ros/humble/setup.bash
          cd robot_arm_pick_place/colcon_ws
          colcon test --event-handlers console_direct+
          colcon test-result --verbose
